<div class="h_index d-flex justify-content-center align-items-center">
    <div class="flex-direction: column">
        <%= link_to 'Acessar Restaurantes' , restaurants_path , class: "btn btn-warning btn-lg"%>
    </div>
</div>
