



<div style="padding-top: 15px">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Em qual mesa você está?</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
			 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
              <%= f.text_field :email, class: "form-control", placeholder: "Mesa", autofocus: true %>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
             <%= f.password_field :password, class: "form-control", placeholder: "Senha" , autocomplete: "current-password" %>
             
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
             <%= f.submit "Entrar na mesa", class: 'btn float-right login_btn', style: "width: 70%" %>

					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
</div>