

<p id="notice"><%= notice %></p>

<div class = "container">
  <h1 align = "center">Restaurantes </h1>
  <table class = "table table-striped">
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th colspan='2'>Ação</th>
    </tr>
    <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.phone %></td>
          <td>
            <%= link_to  "Entrar", table_session_path %>
          </td>
        </tr>
    <% end %>
    
  </table>
</div>
